h1.titulo{
    margin-bottom: 3%;
}

h3.titulo-desafio{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

h5.titulo-reposta{
    margin-top: 5%;
    margin-bottom: 20px;
    text-align: center;
}

hr.divisao{
    margin-top: 5%;
}

p.marcadores{
    font-weight: bolder;
}

div.topo{
    margin-top: 5%
}

div.btn-topo{
    position: fixed;
    margin-left: 95%;
    bottom: 1%;
}

div.items{
    justify-content: center;
}

div.rodape{
    margin-bottom: 5%
}

div.row-center{
    justify-content: center;
    margin-top: 5%;
}

div.caixa-entrada{
    background-color: black;
    color: white;
    width: 40%;
    margin: auto;
}

div.caixa-saida{
    background-color: black;
    color: white;
    width: 40%;
    margin: auto;
}

div.caixa-resposta{
    background-color: black;
    color: white;
    width: 40%;
    display: flex;
    justify-content: center;
}

div.borda-exemplos{
    border-width: 3px;
    border-style: double;
    border-color: #000;
    width: 40%;
    height: 200px;
    margin: auto;
}

div.borda-respostas{
    border-width: 3px;
    border-style: double;
    border-color: #000;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 0%;
}

label.marcadores{
    font-weight: bolder;    
}

.form-control:focus {
    border-color: #000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
  }